* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  background-color: #202020;
}

.container {
  width: 50%;
  margin: 30px auto;
  padding: 30px;
}

.questionnaire {
  margin: 10px;
  border: 1px solid #eee;
  color: #eee;
}

.questionnaire label,
input {
  margin-left: 10px;
  font-size: 16px;
}

button {
  padding: 10px;
  color: #eee;
  border-radius: 5px;
  cursor: pointer;
}

select {
  margin: 0 0 10px 10px;
  padding: 5px;
  color: #eee;
}
