<section class="container">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div *ngFor="let x of jsonFormData?.questionnaire" class="questionnaire">
      <label for="x.ParentQuestion">
        <span>Question #{{ x.id }}: <br /></span>{{ x.ParentQuestion }}</label
      >
      <p>Choices: <br /></p>
      <div *ngFor="let j of x.Options">
        <label for="j.option">
          {{ j.option }}
        </label>
      </div>
      <input
        [type]="x.ParentType"
        [value]="x.ParentSubmittedAnswer"
        [formControlName]="x.ChildQuestionCode"
        [ngStyle]="{ color: '#fff', marginBottom: '10px' }"
      />
    </div>

    <button type="submit">Submit</button>
  </form>
</section>
