<section class="container">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div *ngFor="let x of jsonFormData?.questionnaire" class="questionnaire">
      <label for="x.ParentQuestion">
        Question #{{ x.id }}: {{ x.ParentQuestion }}</label
      >

      <div *ngIf="x.ParentType === 'radio'; else elseBlock">
        <div *ngFor="let j of x.Options">
          <label for="j.option">
            {{ j.option }}
          </label>
          <input
            [type]="x.ParentType"
            [value]="j.option"
            [formControlName]="x.ChildQuestionCode"
            [ngStyle]="{ color: '#fff', marginBottom: '10px' }"
            (change)="getValue($event, x)"
          />
        </div>
      </div>

      <ng-template #elseBlock>
        <select
          [formControlName]="x.ChildQuestionCode"
          (change)="getValue($event, x)"
          [ngStyle]="{ margin: '5px' }"
        >
          <option *ngFor="let k of x.Options" [value]="k.option">
            {{ k.option }}
          </option>
        </select>
      </ng-template>
    </div>

    <button type="submit">Submit</button>
  </form>
</section>
